.menu {
  position: relative;
  background: black;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.menu a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 14px 20px 16px;
}

.menu-item {
  display: inline-block;
}

.btn-header {
  text-decoration: none;
  display: block;
  float: right;
  margin-right: 20px;
}

div .menu-item p {
  margin-bottom: 0;
}
